# Aprendiendo Julia

Este libro es para aprender julia.
Primero aprendermos a introducir datos de forma manual.

In [15]:
using DataFrames
datos = DataFrame(nombre =["ANGELICA","BRENDA","LILIANA","MARCO","FABIAN","MAURICIO"],
    grupo = ["A","A","B","B","C","C"],
    puntaje = [10,9,8,8,9,7]);
print(datos)

6×3 DataFrame
 Row │ nombre    grupo   puntaje
     │ String    String  Int64
─────┼───────────────────────────
   1 │ ANGELICA  A            10
   2 │ BRENDA    A             9
   3 │ LILIANA   B             8
   4 │ MARCO     B             8
   5 │ FABIAN    C             9
   6 │ MAURICIO  C             7

Vamos a conocer un poco de las propiedades de la base

In [16]:
summary(datos)

"6×3 DataFrame"

### Leer datos de un archivo

Se muestra cómo leer un archivo en línea.

In [ ]:
using CSV, DataFrames
indicadores = CSV.read(download("https://franciscoariel.github.io/site/estadistica/multivariado/src/indicadores.csv"),DataFrame)

## Filtrado de datos

Para hacer un filtrado de datos se usa lo siguiente:

In [17]:
datos2 = datos[datos.grupo .== "A",:]
print(datos2)

2×3 DataFrame
 Row │ nombre    grupo   puntaje
     │ String    String  Int64
─────┼───────────────────────────
   1 │ ANGELICA  A            10
   2 │ BRENDA    A             9

Para elegir más de un valor

In [18]:
datos2 = datos[in(["A","C"]).(datos.grupo) ,:]
print(datos2)

4×3 DataFrame
 Row │ nombre    grupo   puntaje
     │ String    String  Int64
─────┼───────────────────────────
   1 │ ANGELICA  A            10
   2 │ BRENDA    A             9
   3 │ FABIAN    C             9
   4 │ MAURICIO  C             7

## Agregar nuevas variables

Se describe como agregar nuevas variables

In [19]:
using DataFrames
datos.nota = ifelse.(datos.puntaje .< 9, "Suficiente", "Excelente")
print(datos)

6×4 DataFrame
 Row │ nombre    grupo   puntaje  nota
     │ String    String  Int64    String
─────┼───────────────────────────────────────
   1 │ ANGELICA  A            10  Excelente
   2 │ BRENDA    A             9  Excelente
   3 │ LILIANA   B             8  Suficiente
   4 │ MARCO     B             8  Suficiente
   5 │ FABIAN    C             9  Excelente
   6 │ MAURICIO  C             7  Suficiente

Otra forma es usando la función `transform!`.

In [20]:
transform!(datos,:puntaje => (p -> ifelse.(p .< 9,"Suficiente","Excelente")) => :nota)
print(datos)

6×4 DataFrame
 Row │ nombre    grupo   puntaje  nota
     │ String    String  Int64    String
─────┼───────────────────────────────────────
   1 │ ANGELICA  A            10  Excelente
   2 │ BRENDA    A             9  Excelente
   3 │ LILIANA   B             8  Suficiente
   4 │ MARCO     B             8  Suficiente
   5 │ FABIAN    C             9  Excelente
   6 │ MAURICIO  C             7  Suficiente

## Ordenar variables

Código para ordenar una base

In [21]:
datos_ord = sort(datos, :nombre)
print(datos_ord)

6×4 DataFrame
 Row │ nombre    grupo   puntaje  nota
     │ String    String  Int64    String
─────┼───────────────────────────────────────
   1 │ ANGELICA  A            10  Excelente
   2 │ BRENDA    A             9  Excelente
   3 │ FABIAN    C             9  Excelente
   4 │ LILIANA   B             8  Suficiente
   5 │ MARCO     B             8  Suficiente
   6 │ MAURICIO  C             7  Suficiente

## Datos agrupados

Para formar grupos en un dataset, se puede usar este código:

In [22]:
datosg = groupby(datos, :grupo)

GroupedDataFrame with 3 groups based on key: grupo
First Group (2 rows): grupo = "A"
 Row │ nombre    grupo   puntaje  nota
     │ String    String  Int64    String
─────┼──────────────────────────────────────
   1 │ ANGELICA  A            10  Excelente
   2 │ BRENDA    A             9  Excelente
⋮
Last Group (2 rows): grupo = "C"
 Row │ nombre    grupo   puntaje  nota
     │ String    String  Int64    String
─────┼───────────────────────────────────────
   1 │ FABIAN    C             9  Excelente
   2 │ MAURICIO  C             7  Suficiente

Tipo de datos del objeto

In [23]:
typeof(datos)

DataFrame

descripción del dataset

In [24]:
describe(datos)

4×7 DataFrame
 Row │ variable  mean    min        median  max         nmissing  eltype
     │ Symbol    Union…  Any        Union…  Any         Int64     DataType
─────┼─────────────────────────────────────────────────────────────────────
   1 │ nombre            ANGELICA           MAURICIO           0  String
   2 │ grupo             A                  C                  0  String
   3 │ puntaje   8.5     7          8.5     10                 0  Int64
   4 │ nota              Excelente          Suficiente         0  String

## Uniones de bases

En esta sección se abordará como hace uniones de bases

In [25]:
info = DataFrame(nombre =["ANGELICA","BRENDA","LILIANA","MARCO","FABIAN","MAURICIO"],
    apellidos = ["SANTIAGO","CAMACHO","BUENO","BALDERAS","CASTILLO","ZEPEDA"],
    edad = [20,19,18,18,19,27]);
print(info)

6×3 DataFrame
 Row │ nombre    apellidos  edad
     │ String    String     Int64
─────┼────────────────────────────
   1 │ ANGELICA  SANTIAGO      20
   2 │ BRENDA    CAMACHO       19
   3 │ LILIANA   BUENO         18
   4 │ MARCO     BALDERAS      18
   5 │ FABIAN    CASTILLO      19
   6 │ MAURICIO  ZEPEDA        27

Se realizará la unión

In [26]:
datos2=innerjoin(datos,info,on=:nombre)

6×6 DataFrame
 Row │ nombre    grupo   puntaje  nota        apellidos  edad
     │ String    String  Int64    String      String     Int64
─────┼─────────────────────────────────────────────────────────
   1 │ ANGELICA  A            10  Excelente   SANTIAGO      20
   2 │ BRENDA    A             9  Excelente   CAMACHO       19
   3 │ LILIANA   B             8  Suficiente  BUENO         18
   4 │ MARCO     B             8  Suficiente  BALDERAS      18
   5 │ FABIAN    C             9  Excelente   CASTILLO      19
   6 │ MAURICIO  C             7  Suficiente  ZEPEDA        27

In [27]:
typeof(datos2)

DataFrame

In [28]:
print(datos2)

6×6 DataFrame
 Row │ nombre    grupo   puntaje  nota        apellidos  edad
     │ String    String  Int64    String      String     Int64
─────┼─────────────────────────────────────────────────────────
   1 │ ANGELICA  A            10  Excelente   SANTIAGO      20
   2 │ BRENDA    A             9  Excelente   CAMACHO       19
   3 │ LILIANA   B             8  Suficiente  BUENO         18
   4 │ MARCO     B             8  Suficiente  BALDERAS      18
   5 │ FABIAN    C             9  Excelente   CASTILLO      19
   6 │ MAURICIO  C             7  Suficiente  ZEPEDA        27