# Aprendiendo Julia

Este libro es para aprender julia.
Primero aprendermos a introducir datos de forma manual.

In [15]:
using DataFrames
datos = DataFrame(nombre =["ANGELICA","BRENDA","LILIANA","MARCO","FABIAN","MAURICIO"],
    grupo = ["A","A","B","B","C","C"],
    puntaje = [10,9,8,8,9,7]);
print(datos)

6×3 DataFrame
 Row │ nombre    grupo   puntaje
     │ String    String  Int64
─────┼───────────────────────────
   1 │ ANGELICA  A            10
   2 │ BRENDA    A             9
   3 │ LILIANA   B             8
   4 │ MARCO     B             8
   5 │ FABIAN    C             9
   6 │ MAURICIO  C             7

Vamos a conocer un poco de las propiedades de la base

In [16]:
summary(datos)

"6×3 DataFrame"

### Leer datos de un archivo

Se muestra cómo leer un archivo en línea.

In [2]:
using CSV, DataFrames
indicadores = CSV.read(download("https://franciscoariel.github.io/site/estadistica/src/indicadores.csv"),DataFrame)

20×18 DataFrame
 Row │ Country  Agriculture  Exports  Fertility  Forest_area     GDP_growth    ⋯
     │ String3  Float64      Float64  Float64    Float64         Float64       ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ ARG         5.9324    16.5918     2.233   285730.0         -9.89527     ⋯
   2 │ AUS         2.00609   23.9839     1.581        1.34005e6   -0.00383656
   3 │ BRA         5.89325   16.7951     1.706        4.9662e6    -3.87868
   4 │ CHN         7.69864   18.5411     1.7          2.19978e6    2.2397
   5 │ FRA         1.59684   27.8736     1.83    172530.0         -7.85526     ⋯
   6 │ DEU         0.73531   43.4169     1.53    114190.0         -4.56962
   7 │ IND        18.2289    18.7089     2.184   721600.0         -6.59608
   8 │ IDN        13.7025    17.2714     2.266   921332.0         -2.065
  ⋮  │    ⋮          ⋮          ⋮         ⋮            ⋮              ⋮        ⋱
  14 │ RUS         4.00204   25.5312     1.505        8.15312e6   -2.6833      ⋯
  15 │ SAU         2.54191   26.1829     2.238     9770.0         -4.13767
  16 │ ESP         3.14801   30.6209     1.23         1.85722e5  -10.8229
  17 │ CHE         0.689423  62.342      1.46     12691.1         -2.39283
  18 │ TUR         6.68056   28.6649     2.039        2.22204e5    1.79355     ⋯
  19 │ GBR         0.583199  28.3623     1.56     31900.0         -9.27041
  20 │ USA         1.05974   10.1629     1.6375       3.09795e6   -3.40459
                                                   12 columns and 5 rows omitted

### Descripción de los datos

Se hará un análisis descriptivo de los datos

In [9]:
describe(indicadores[:,2:4],:std)

3×2 DataFrame
 Row │ variable     std
     │ Symbol       Float64
─────┼────────────────────────
   1 │ Agriculture   4.59674
   2 │ Exports      16.3926
   3 │ Fertility     0.390139

In [13]:
using Statistics

cov(Matrix(indicadores[:,2:18]))

17×17 Matrix{Float64}:
     21.13          -28.0223     …   32.8015        67.8757
    -28.0223        268.717         -38.7736      1267.17
      1.05672        -1.77471         1.9623       -25.5202
      9.58534e5      -1.09945e7       1.38796e6     -1.48083e8
      1.93561         0.802194       -0.10294       17.1737
 -72364.2        175351.0        …   -1.05116e5      7.07261e5
     11.6023         -4.9198          9.11492      264.158
    -11.7101         26.8188        -19.4026       712.778
    -23.8684        224.111         -31.1442      1078.71
     10.1417        -20.7248         10.3714       -89.5937
      7.77692       -27.9515     …    7.91005     -242.248
    -15.2213         27.0728        -26.4502       201.022
    -44.003         440.925         -61.1038      2092.44
     -0.38444        -5.66427        -0.434735     -57.4859
    -33.903          38.5399        -77.1466       411.738
     32.8015        -38.7736     …   58.9289       105.642
     67.8757       1267.17          105.642      28950.2

## Filtrado de datos

Para hacer un filtrado de datos se usa lo siguiente:

In [17]:
datos2 = datos[datos.grupo .== "A",:]
print(datos2)

2×3 DataFrame
 Row │ nombre    grupo   puntaje
     │ String    String  Int64
─────┼───────────────────────────
   1 │ ANGELICA  A            10
   2 │ BRENDA    A             9

Para elegir más de un valor

In [18]:
datos2 = datos[in(["A","C"]).(datos.grupo) ,:]
print(datos2)

4×3 DataFrame
 Row │ nombre    grupo   puntaje
     │ String    String  Int64
─────┼───────────────────────────
   1 │ ANGELICA  A            10
   2 │ BRENDA    A             9
   3 │ FABIAN    C             9
   4 │ MAURICIO  C             7

## Agregar nuevas variables

Se describe como agregar nuevas variables

In [19]:
using DataFrames
datos.nota = ifelse.(datos.puntaje .< 9, "Suficiente", "Excelente")
print(datos)

6×4 DataFrame
 Row │ nombre    grupo   puntaje  nota
     │ String    String  Int64    String
─────┼───────────────────────────────────────
   1 │ ANGELICA  A            10  Excelente
   2 │ BRENDA    A             9  Excelente
   3 │ LILIANA   B             8  Suficiente
   4 │ MARCO     B             8  Suficiente
   5 │ FABIAN    C             9  Excelente
   6 │ MAURICIO  C             7  Suficiente

Otra forma es usando la función `transform!`.

In [20]:
transform!(datos,:puntaje => (p -> ifelse.(p .< 9,"Suficiente","Excelente")) => :nota)
print(datos)

6×4 DataFrame
 Row │ nombre    grupo   puntaje  nota
     │ String    String  Int64    String
─────┼───────────────────────────────────────
   1 │ ANGELICA  A            10  Excelente
   2 │ BRENDA    A             9  Excelente
   3 │ LILIANA   B             8  Suficiente
   4 │ MARCO     B             8  Suficiente
   5 │ FABIAN    C             9  Excelente
   6 │ MAURICIO  C             7  Suficiente

## Ordenar variables

Código para ordenar una base

In [21]:
datos_ord = sort(datos, :nombre)
print(datos_ord)

6×4 DataFrame
 Row │ nombre    grupo   puntaje  nota
     │ String    String  Int64    String
─────┼───────────────────────────────────────
   1 │ ANGELICA  A            10  Excelente
   2 │ BRENDA    A             9  Excelente
   3 │ FABIAN    C             9  Excelente
   4 │ LILIANA   B             8  Suficiente
   5 │ MARCO     B             8  Suficiente
   6 │ MAURICIO  C             7  Suficiente

## Datos agrupados

Para formar grupos en un dataset, se puede usar este código:

In [22]:
datosg = groupby(datos, :grupo)

GroupedDataFrame with 3 groups based on key: grupo
First Group (2 rows): grupo = "A"
 Row │ nombre    grupo   puntaje  nota
     │ String    String  Int64    String
─────┼──────────────────────────────────────
   1 │ ANGELICA  A            10  Excelente
   2 │ BRENDA    A             9  Excelente
⋮
Last Group (2 rows): grupo = "C"
 Row │ nombre    grupo   puntaje  nota
     │ String    String  Int64    String
─────┼───────────────────────────────────────
   1 │ FABIAN    C             9  Excelente
   2 │ MAURICIO  C             7  Suficiente

Tipo de datos del objeto

In [23]:
typeof(datos)

DataFrame

descripción del dataset

In [24]:
describe(datos)

4×7 DataFrame
 Row │ variable  mean    min        median  max         nmissing  eltype
     │ Symbol    Union…  Any        Union…  Any         Int64     DataType
─────┼─────────────────────────────────────────────────────────────────────
   1 │ nombre            ANGELICA           MAURICIO           0  String
   2 │ grupo             A                  C                  0  String
   3 │ puntaje   8.5     7          8.5     10                 0  Int64
   4 │ nota              Excelente          Suficiente         0  String

## Uniones de bases

En esta sección se abordará como hace uniones de bases

In [25]:
info = DataFrame(nombre =["ANGELICA","BRENDA","LILIANA","MARCO","FABIAN","MAURICIO"],
    apellidos = ["SANTIAGO","CAMACHO","BUENO","BALDERAS","CASTILLO","ZEPEDA"],
    edad = [20,19,18,18,19,27]);
print(info)

6×3 DataFrame
 Row │ nombre    apellidos  edad
     │ String    String     Int64
─────┼────────────────────────────
   1 │ ANGELICA  SANTIAGO      20
   2 │ BRENDA    CAMACHO       19
   3 │ LILIANA   BUENO         18
   4 │ MARCO     BALDERAS      18
   5 │ FABIAN    CASTILLO      19
   6 │ MAURICIO  ZEPEDA        27

Se realizará la unión

In [26]:
datos2=innerjoin(datos,info,on=:nombre)

6×6 DataFrame
 Row │ nombre    grupo   puntaje  nota        apellidos  edad
     │ String    String  Int64    String      String     Int64
─────┼─────────────────────────────────────────────────────────
   1 │ ANGELICA  A            10  Excelente   SANTIAGO      20
   2 │ BRENDA    A             9  Excelente   CAMACHO       19
   3 │ LILIANA   B             8  Suficiente  BUENO         18
   4 │ MARCO     B             8  Suficiente  BALDERAS      18
   5 │ FABIAN    C             9  Excelente   CASTILLO      19
   6 │ MAURICIO  C             7  Suficiente  ZEPEDA        27

In [27]:
typeof(datos2)

DataFrame

In [28]:
print(datos2)

6×6 DataFrame
 Row │ nombre    grupo   puntaje  nota        apellidos  edad
     │ String    String  Int64    String      String     Int64
─────┼─────────────────────────────────────────────────────────
   1 │ ANGELICA  A            10  Excelente   SANTIAGO      20
   2 │ BRENDA    A             9  Excelente   CAMACHO       19
   3 │ LILIANA   B             8  Suficiente  BUENO         18
   4 │ MARCO     B             8  Suficiente  BALDERAS      18
   5 │ FABIAN    C             9  Excelente   CASTILLO      19
   6 │ MAURICIO  C             7  Suficiente  ZEPEDA        27