# Aprendiendo Julia

Este libro es para aprender julia.
Primero aprendermos a introducir datos de forma manual.

In [1]:
using DataFrames
datos = DataFrame(nombre =["ANGELICA","BRENDA","LILIANA","MARCO","FABIAN","MAURICIO"],
    grupo = ["A","A","B","B","C","C"],
    puntaje = [10,9,8,8,9,7]);
print(datos)

6×3 DataFrame
 Row │ nombre    grupo   puntaje
     │ String    String  Int64
─────┼───────────────────────────
   1 │ ANGELICA  A            10
   2 │ BRENDA    A             9
   3 │ LILIANA   B             8
   4 │ MARCO     B             8
   5 │ FABIAN    C             9
   6 │ MAURICIO  C             7

Vamos a conocer un poco de las propiedades de la base

In [46]:
summary(datos)

"6×3 DataFrame"

## Filtrado de datos

Para hacer un filtrado de datos se usa lo siguiente:

In [48]:
datos2 = datos[datos.grupo .== "A",:]
print(datos2)

2×3 DataFrame
 Row │ nombre    grupo   puntaje
     │ String    String  Int64
─────┼───────────────────────────
   1 │ ANGELICA  A            10
   2 │ BRENDA    A             9

Para elegir más de un valor

In [39]:
datos2 = datos[in(["A","C"]).(datos.grupo) ,:]
print(datos2)

4×3 DataFrame
 Row │ nombre    grupo   puntaje
     │ String    String  Int64
─────┼───────────────────────────
   1 │ ANGELICA  A            10
   2 │ BRENDA    A             9
   3 │ FABIAN    C             9
   4 │ MAURICIO  C             7

## Agregar nuevas variables

Se describe como agregar nuevas variables

In [39]:
using DataFrames
datos.nota = ifelse.(datos.puntaje .< 9, "Suficiente", "Excelente")
print(datos)

6×4 DataFrame
 Row │ nombre    grupo   puntaje  nota
     │ String    String  Int64    String
─────┼───────────────────────────────────────
   1 │ ANGELICA  A            10  Excelente
   2 │ BRENDA    A             9  Excelente
   3 │ LILIANA   B             8  Suficiente
   4 │ MARCO     B             8  Suficiente
   5 │ FABIAN    C             9  Excelente
   6 │ MAURICIO  C             7  Suficiente

## Ordenar variables

Código para ordenar una base

In [52]:
datos_ord = sort(datos, :nombre)
print(datos_ord)

6×3 DataFrame
 Row │ nombre    grupo   puntaje
     │ String    String  Int64
─────┼───────────────────────────
   1 │ ANGELICA  A            10
   2 │ BRENDA    A             9
   3 │ FABIAN    C             9
   4 │ LILIANA   B             8
   5 │ MARCO     B             8
   6 │ MAURICIO  C             7

## Datos agrupados

Para formar grupos en un dataset, se puede usar este código:

In [2]:
datosg = groupby(datos, :grupo)

GroupedDataFrame with 3 groups based on key: grupo
First Group (2 rows): grupo = "A"
 Row │ nombre    grupo   puntaje
     │ String    String  Int64
─────┼───────────────────────────
   1 │ ANGELICA  A            10
   2 │ BRENDA    A             9
⋮
Last Group (2 rows): grupo = "C"
 Row │ nombre    grupo   puntaje
     │ String    String  Int64
─────┼───────────────────────────
   1 │ FABIAN    C             9
   2 │ MAURICIO  C             7

Tipo de datos del objeto

In [4]:
typeof(datos)

DataFrame

descripción del dataset

In [5]:
describe(datos)

3×7 DataFrame
 Row │ variable  mean    min       median  max       nmissing  eltype
     │ Symbol    Union…  Any       Union…  Any       Int64     DataType
─────┼──────────────────────────────────────────────────────────────────
   1 │ nombre            ANGELICA          MAURICIO         0  String
   2 │ grupo             A                 C                0  String
   3 │ puntaje   8.5     7         8.5     10               0  Int64