# Aprendiendo Python

Este código será usado para aprender python

## Ejemplo de listas

Aquí se mostrará como hacer listas y algunas de sus propiedades

In [6]:
mi_lista = ["manzana","naranja","pera","uva"]
print(mi_lista)

['manzana', 'naranja', 'pera', 'uva']

Para acceder a los elementos se usa `[]` indicando el elemento (el primero inicia en 0).

In [2]:
mi_lista[0]

'manzana'

Agregar un nuevo elemento

In [7]:
mi_lista.append("fresa")
mi_lista

['manzana', 'naranja', 'pera', 'uva', 'fresa']

## Diccionarios

Ahora trabajaremos con los diccionarios, que son parecidos a los datasets (pero no lo son)

In [1]:
dic = {
  "nombre": "Juan",
  "apellido": "Pérez",
  "edad": 30
}
dic

{'nombre': 'Juan', 'apellido': 'Pérez', 'edad': 30}

Los diccionarios pueden tener más de un valor

In [3]:
sexo = ["M","F","M"]
dic2 = {
  "nombre": ["Juan","María","José"],
  "apellido": ["Pérez","Martínez","Pérez"],
  "edad": [30,50,45],
  "genero":sexo
}
dic2

{'nombre': ['Juan', 'María', 'José'],
 'apellido': ['Pérez', 'Martínez', 'Pérez'],
 'edad': [30, 50, 45],
 'genero': ['M', 'F', 'M']}

Agregando una nueva clave a un diccionario existente

In [4]:
dic2["ocupacion"] = ["Contador","Gerente","Profesor"]
dic2

{'nombre': ['Juan', 'María', 'José'],
 'apellido': ['Pérez', 'Martínez', 'Pérez'],
 'edad': [30, 50, 45],
 'genero': ['M', 'F', 'M'],
 'ocupacion': ['Contador', 'Gerente', 'Profesor']}

## Ciclos

Haciendo un ciclo for

In [5]:
frutas = ["manzana","naranja","pera","uva","papaya"]
for x in frutas:
  print(x)

manzana
naranja
pera
uva
papaya

# Manejo de datos

Aprendiendo manejo de datos con python

In [1]:
import pandas as pd

nombres = ["ANGELICA","BRENDA","LILIANA","MARCO","FABIAN","MAURICIO"]
gpo = ["A","A","B","B","C","C"]
puntajes = [10,9,8,8,9,7]

dic = {"nombre":nombres,"grupo":gpo,"puntaje":puntajes}

mi_base = pd.DataFrame(dic)
print(mi_base)

     nombre grupo  puntaje
0  ANGELICA     A       10
1    BRENDA     A        9
2   LILIANA     B        8
3     MARCO     B        8
4    FABIAN     C        9
5  MAURICIO     C        7

Para saber de que tipo es el objeto `mi_base`.

In [8]:
type(mi_base)

pandas.core.frame.DataFrame

Para visualizar la base, se pueden usar los siguientes comandos

In [9]:
os.getcwd()

'c:\\Users\\Francisco\\FranciscoAriel.github.io\\docs\\python\\src'

In [1]:
import pandas as pd
import numpy as np
datos = pd.read_csv("census.csv")
datos.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [3]:
indicadores=pd.read_csv("https://franciscoariel.github.io/site/estadistica/src/indicadores.csv")
indicadores.cov()

,Agriculture,Exports,Fertility,Forest_area,GDP_growth,GNI_pc,Gross_capital_formation,High_tech_exports,Imports,Industry,Inflation,Life_expectancy,Merchandise_trade,Military_expenditure,Mobile_subs,Mortality_rate,Pop_density
Agriculture,21.130026,-2.802233e+01,1.056721,9.585344e+05,1.935615e+00,-7.236424e+04,11.602300,-1.171009e+01,-2.386838e+01,10.141708,7.776916e+00,-1.522134e+01,-4.400299e+01,-0.384440,-3.390304e+01,3.280151e+01,6.787572e+01
Exports,-28.022329,2.687171e+02,-1.774714,-1.099454e+07,8.021938e-01,1.753510e+05,-4.919795,2.681876e+01,2.241105e+02,-20.724772,-2.795148e+01,2.707276e+01,4.409247e+02,-5.664270,3.853995e+01,-3.877357e+01,1.267167e+03
Fertility,1.056721,-1.774714e+00,0.152209,-2.851876e+04,-5.187848e-02,-4.501197e+03,0.133495,-1.731813e+00,-1.292456e+00,0.705301,1.197284e+00,-1.205276e+00,-2.469715e+00,0.124867,-3.570423e+00,1.962304e+00,-2.552016e+01
Forest_area,958534.438319,-1.099454e+07,-28518.760846,4.307068e+12,2.005724e+06,-1.207661e+10,-801118.145359,-1.589488e+06,-1.092529e+07,124035.868973,-1.798158e+06,-4.519830e+06,-1.817407e+07,719551.817665,8.425347e+06,1.387958e+06,-1.480833e+08
GDP_growth,1.935615,8.021938e-01,-0.051878,2.005724e+06,1.451926e+01,4.082476e+03,19.452031,7.745763e+00,-2.434498e-02,14.180315,-9.305744e+00,-1.128052e+00,3.692527e+00,1.221475,6.876863e+00,-1.029405e-01,1.717372e+01
GNI_pc,-72364.239350,1.753510e+05,-4501.197434,-1.207661e+10,4.082476e+03,5.097495e+08,-23357.371006,6.241965e+04,1.462547e+05,-61553.779046,-6.350393e+04,7.013092e+04,2.235594e+05,-3186.534795,8.362030e+04,-1.051164e+05,7.072609e+05
Gross_capital_formation,11.602300,-4.919795e+00,0.133495,-8.011181e+05,1.945203e+01,-2.335737e+04,49.071295,1.542983e+01,-3.204647e+00,35.395491,-2.259861e+01,-4.345144e+00,-6.547749e+00,2.132028,1.390916e+01,9.114922e+00,2.641576e+02
High_tech_exports,-11.710089,2.681876e+01,-1.731813,-1.589488e+06,7.745763e+00,6.241965e+04,15.429832,8.478166e+01,2.105406e+01,-4.869695,-1.688232e+01,1.633256e+01,4.744612e+01,-4.522699,9.275675e+00,-1.940258e+01,7.127779e+02
Imports,-23.868379,2.241105e+02,-1.292456,-1.092529e+07,-2.434498e-02,1.462547e+05,-3.204647,2.105406e+01,1.924060e+02,-21.098531,-2.479884e+01,2.337911e+01,3.719406e+02,-3.913801,9.607277e+00,-3.114416e+01,1.078708e+03
Industry,10.141708,-2.072477e+01,0.705301,1.240359e+05,1.418031e+01,-6.155378e+04,35.395491,-4.869695e+00,-2.109853e+01,52.588257,-1.740465e+01,-1.104085e+01,-2.638723e+01,4.362244,4.307799e+01,1.037143e+01,-8.959368e+01
Inflation,7.776916,-2.795148e+01,1.197284,-1.798158e+06,-9.305744e+00,-6.350393e+04,-22.598610,-1.688232e+01,-2.479884e+01,-17.404648,8.900461e+01,-4.142882e+00,-4.259805e+01,-5.904997,-3.625991e+01,7.910053e+00,-2.422477e+02
Life_expectancy,-15.221341,2.707276e+01,-1.205276,-4.519830e+06,-1.128052e+00,7.013092e+04,-4.345144,1.633256e+01,2.337911e+01,-11.040846,-4.142882e+00,1.951076e+01,3.938745e+01,-2.380641,2.025509e+01,-2.645022e+01,2.010215e+02
Merchandise_trade,-44.002990,4.409247e+02,-2.469715,-1.817407e+07,3.692527e+00,2.235594e+05,-6.547749,4.744612e+01,3.719406e+02,-26.387230,-4.259805e+01,3.938745e+01,7.703349e+02,-8.324251,4.710202e+01,-6.110378e+01,2.092444e+03
Military_expenditure,-0.384440,-5.664270e+00,0.124867,7.195518e+05,1.221475e+00,-3.186535e+03,2.132028,-4.522699e+00,-3.913801e+00,4.362244,-5.904997e+00,-2.380641e+00,-8.324251e+00,3.155244,2.485184e+00,-4.347351e-01,-5.748589e+01
Mobile_subs,-33.903041,3.853995e+01,-3.570423,8.425347e+06,6.876863e+00,8.362030e+04,13.909159,9.275675e+00,9.607277e+00,43.077990,-3.625991e+01,2.025509e+01,4.710202e+01,2.485184,3.748362e+02,-7.714664e+01,4.117383e+02
Mortality_rate,32.801507,-3.877357e+01,1.962304,1.387958e+06,-1.029405e-01,-1.051164e+05,9.114922,-1.940258e+01,-3.114416e+01,10.371430,7.910053e+00,-2.645022e+01,-6.110378e+01,-0.434735,-7.714664e+01,5.892892e+01,1.056419e+02
Pop_density,67.875718,1.267167e+03,-25.520159,-1.480833e+08,1.717372e+01,7.072609e+05,264.157554,7.127779e+02,1.078708e+03,-89.593681,-2.422477e+02,2.010215e+02,2.092444e+03,-57.485892,4.117383e+02,1.056419e+02,2.895019e+04

Primeros y últimos elementos del dataframe

In [10]:
datos.head(n=5)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

últimos 5

In [11]:
datos.tail(n=5)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours,native_country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

para acceder a los elementos, se usa el método `iloc`

In [9]:
filtro = mi_base.query('grupo == "A"')
print(filtro)

     nombre grupo  puntaje
0  ANGELICA     A       10
1    BRENDA     A        9

## Ordenando una base

Use el método `sort` para ordenar una base

In [8]:
datos_ord = mi_base.sort_values(by=["nombre"])
print(datos_ord)

     nombre grupo  puntaje
0  ANGELICA     A       10
1    BRENDA     A        9
4    FABIAN     C        9
2   LILIANA     B        8
3     MARCO     B        8
5  MAURICIO     C        7

## Datos agrupados

Para crear datos agrupados se usa el siguiente método:

In [10]:
mi_base_agrupada = mi_base.groupby(by=["grupo"])
mi_base_agrupada

In [11]:
mi_base_agrupada.aggregate(["mean"])

      puntaje
         mean
grupo
A         9.5
B         8.0
C         8.0

## Filtrado de datos

Use el método `where()` para filtrar los datos

In [4]:
indices = mi_base["grupo"] == "A"
#filtrados = mi_base.iloc[indices,]
print(indices)

0     True
1     True
2    False
3    False
4    False
5    False
Name: grupo, dtype: bool

## Uniones de bases

En pandas, se puede usar el método `merge()` para unir dos bases

In [2]:
nombres = ["ANGELICA","BRENDA","LILIANA","MARCO","FABIAN","MAURICIO"]
sexo = ["F","F","F","M","M","M"]
edad = [19,29,28,30,29,30]

dic2 = {"nombre":nombres,"sexo":sexo,"edad":edad}

mi_base2 = pd.DataFrame(dic2)
print(mi_base2)

     nombre sexo  edad
0  ANGELICA    F    19
1    BRENDA    F    29
2   LILIANA    F    28
3     MARCO    M    30
4    FABIAN    M    29
5  MAURICIO    M    30

In [4]:
base_union = mi_base.merge(mi_base2,on=["nombre"])
print(base_union)

     nombre grupo  puntaje sexo  edad
0  ANGELICA     A       10    F    19
1    BRENDA     A        9    F    29
2   LILIANA     B        8    F    28
3     MARCO     B        8    M    30
4    FABIAN     C        9    M    29
5  MAURICIO     C        7    M    30

## Matrices y vectores

Aquí se mostrará como usar matrices y vectores.

In [75]:
import numpy as np
from numpy.linalg import eig
A=[[9,-2],[-2,6]]
dim=(2,2)
jj=[0,1]
A2=np.zeros(dim)
lj,ej=eig(A)
lj=np.matrix(lj)
ej=np.matrix(ej.transpose())
for j in jj:
    A2=A2+lj[0,j]*ej[j].transpose()@ej[j]

print(A2)

[[ 9. -2.]
 [-2.  6.]]

In [77]:
ej[0]

matrix([[ 0.89442719, -0.4472136 ]])